.mr {
margin-top: 35px;
}

.account {
  margin-top: 28px;
  }


.cart {
  margin-top: 32px;
  }
.bt{
    width: 50px;
    max-height: 20px;
}
@media screen and (max-width: 830px) {
    .hide {
      display: none;
    }
    
  }
  @media screen and (min-width: 830px) {
    .show {
      display: none;
    }
    
  }
  .height{
      height: 100px;
      
  }
  .header_left_show{
      margin-top: 30px;
  }

  .size {
    height:20px;
    width: 60px;
  }
  .trans {
    opacity : 0.5;
  }
  #padding {
    padding:10px;
  }
  .align {
    text-align: center;
  }